src/Service References/TransactionReportingService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" elementFormDefault="qualified" targetNamespace="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd2" namespace="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" />
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="request" nillable="true" type="q1:GetTransactionsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q2:GetTransactionsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsByTxnGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="request" nillable="true" type="q3:GetTransactionsByTxnGuidRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsByTxnGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="GetTransactionsByTxnGuidResult" nillable="true" type="q4:GetTransactionsByTxnGuidResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionSummaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="request" nillable="true" type="q5:GetTransactionSummariesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionSummariesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="GetTransactionSummariesResult" nillable="true" type="q6:GetTransactionSummariesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetricsReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="request" nillable="true" type="q7:GetMetricsReportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetricsReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="GetMetricsReportResult" nillable="true" type="q8:GetMetricsReportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingRollup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="request" nillable="true" type="q9:GetMerchantRollupReportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingRollupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="GetReportingRollupResult" nillable="true" type="q10:GetMerchantRollupReportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="request" nillable="true" type="q11:GetMerchantDetailsReportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="GetReportingDetailsResult" nillable="true" type="q12:GetMerchantDetailsReportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDurabilityByTxnGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="request" nillable="true" type="q13:SetDurabilityByTxnGuidRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDurabilityByTxnGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" minOccurs="0" name="SetDurabilityByTxnGuidResult" nillable="true" type="q14:SetDurabilityByTxnGuidResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>