src/Service References/TransactionReportingService/item8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common" elementFormDefault="qualified" targetNamespace="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd9" namespace="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/External" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/External" minOccurs="0" name="PingResult" nillable="true" type="q1:PingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusResult" nillable="true" type="tns:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OperationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResponse" nillable="true" type="tns:OperationResponse" />
  <xs:element name="SoftwareReset">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SoftwareResetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoftwareResetResult" nillable="true" type="tns:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>