src/Service References/TransactionReportingService/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/Imports">
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd8" namespace="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd0" namespace="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd2" namespace="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd3" namespace="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/SandboxConfigurationService" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Ipc.SAS.DAL" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Ipc.SAS.TransactionReporting.DataContracts" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Ipc.SAS.TransactionReporting.Business" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd9" namespace="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/External" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInternallyFacingStandardOperations_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IInternallyFacingStandardOperations_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IInternallyFacingStandardOperations_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IInternallyFacingStandardOperations_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IInternallyFacingStandardOperations_SoftwareReset_InputMessage">
    <wsdl:part name="parameters" element="tns:SoftwareReset" />
  </wsdl:message>
  <wsdl:message name="IInternallyFacingStandardOperations_SoftwareReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoftwareResetResponse" />
  </wsdl:message>
  <wsdl:portType name="IInternallyFacingStandardOperations">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/IExternallyFacingStandardOperations/Ping" message="tns:IInternallyFacingStandardOperations_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/IExternallyFacingStandardOperations/PingResponse" message="tns:IInternallyFacingStandardOperations_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/IInternallyFacingStandardOperations/GetStatus" message="tns:IInternallyFacingStandardOperations_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/IInternallyFacingStandardOperations/GetStatusResponse" message="tns:IInternallyFacingStandardOperations_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoftwareReset">
      <wsdl:input wsaw:Action="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/IInternallyFacingStandardOperations/SoftwareReset" message="tns:IInternallyFacingStandardOperations_SoftwareReset_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/IInternallyFacingStandardOperations/SoftwareResetResponse" message="tns:IInternallyFacingStandardOperations_SoftwareReset_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>