src/Service References/TransactionReportingService/item1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/Imports">
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd0" namespace="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd2" namespace="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd3" namespace="http://schemas.ipcommerce.com/Entity/PTLS/SAS/v1.17/SandboxConfigurationService" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Ipc.SAS.DAL" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Ipc.SAS.TransactionReporting.DataContracts" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://sas.cert.ipcommerce.com:9002/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Ipc.SAS.TransactionReporting.Business" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionReporting_GetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_GetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_GetTransactionsByTxnGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsByTxnGuid" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_GetTransactionsByTxnGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsByTxnGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_GetTransactionSummaries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionSummaries" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_GetTransactionSummaries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionSummariesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_GetMetricsReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetricsReport" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_GetMetricsReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetricsReportResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_GetReportingRollup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportingRollup" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_GetReportingRollup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportingRollupResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_GetReportingDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportingDetails" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_GetReportingDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportingDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_SetDurabilityByTxnGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDurabilityByTxnGuid" />
  </wsdl:message>
  <wsdl:message name="ITransactionReporting_SetDurabilityByTxnGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDurabilityByTxnGuidResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionReporting">
    <wsdl:operation name="GetTransactions">
      <wsdl:input wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetTransactions" message="tns:ITransactionReporting_GetTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetTransactionsResponse" message="tns:ITransactionReporting_GetTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsByTxnGuid">
      <wsdl:input wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetTransactionsByTxnGuid" message="tns:ITransactionReporting_GetTransactionsByTxnGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetTransactionsByTxnGuidResponse" message="tns:ITransactionReporting_GetTransactionsByTxnGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionSummaries">
      <wsdl:input wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetTransactionSummaries" message="tns:ITransactionReporting_GetTransactionSummaries_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetTransactionSummariesResponse" message="tns:ITransactionReporting_GetTransactionSummaries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMetricsReport">
      <wsdl:input wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetMetricsReport" message="tns:ITransactionReporting_GetMetricsReport_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetMetricsReportResponse" message="tns:ITransactionReporting_GetMetricsReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportingRollup">
      <wsdl:input wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetReportingRollup" message="tns:ITransactionReporting_GetReportingRollup_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetReportingRollupResponse" message="tns:ITransactionReporting_GetReportingRollup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportingDetails">
      <wsdl:input wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetReportingDetails" message="tns:ITransactionReporting_GetReportingDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetReportingDetailsResponse" message="tns:ITransactionReporting_GetReportingDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDurabilityByTxnGuid">
      <wsdl:input wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/SetDurabilityByTxnGuid" message="tns:ITransactionReporting_SetDurabilityByTxnGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/SetDurabilityByTxnGuidResponse" message="tns:ITransactionReporting_SetDurabilityByTxnGuid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>