src/Service References/TransactionReportingService/TransactionReporting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionReporting" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ITransactionReporting_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_IInternallyFacingStandardOperations_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService" location="https://sas.cert.ipcommerce.com:9002/?wsdl=wsdl0" />
  <wsdl:import namespace="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common" location="https://sas.cert.ipcommerce.com:9002/?wsdl=wsdl1" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ITransactionReporting" type="i0:ITransactionReporting">
    <wsp:PolicyReference URI="#BasicHttpBinding_ITransactionReporting_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsByTxnGuid">
      <soap:operation soapAction="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetTransactionsByTxnGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionSummaries">
      <soap:operation soapAction="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetTransactionSummaries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetricsReport">
      <soap:operation soapAction="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetMetricsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportingRollup">
      <soap:operation soapAction="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetReportingRollup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportingDetails">
      <soap:operation soapAction="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/GetReportingDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDurabilityByTxnGuid">
      <soap:operation soapAction="http://www.ipcommerce.com/Entity/PTLS/SAS/v1.17/TransactionReportingService/ITransactionReporting/SetDurabilityByTxnGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IInternallyFacingStandardOperations" type="i1:IInternallyFacingStandardOperations">
    <wsp:PolicyReference URI="#BasicHttpBinding_IInternallyFacingStandardOperations_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/IExternallyFacingStandardOperations/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/IInternallyFacingStandardOperations/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoftwareReset">
      <soap:operation soapAction="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/IInternallyFacingStandardOperations/SoftwareReset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionReporting">
    <wsdl:port name="BasicHttpBinding_ITransactionReporting" binding="tns:BasicHttpBinding_ITransactionReporting">
      <soap:address location="https://sas.cert.ipcommerce.com:9002/TransactionReporting" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IInternallyFacingStandardOperations" binding="tns:BasicHttpBinding_IInternallyFacingStandardOperations">
      <soap:address location="https://sas.cert.ipcommerce.com:9002/TransactionReporting" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>